.module {
  position: relative;
}

.element {
  background-color: #fff;
  border: 1px solid #ccc;
  border-radius: 4px;
  color: #555;
  display: block;
  outline: none;
  padding: 12px;
  width: 100%;
}

.element:placeholder-shown::placeholder {
  color: transparent;
}

.element:active,
.element:focus,
.element:hover {
  border-color: var(--primary-color);
}

.element + span {
  background-color: transparent;
  left: 12px;
  pointer-events: none;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  transform-origin: top left;
  -webkit-transform: translateY(-50%);
  transition-duration: 0.3s;
}

.element:focus + span,
.element:not(:placeholder-shown) + span {
  background-color: #fff;
  top: -6px;
  transform: scale(0.8);
}

.element + span::before {
  color: #808080;
  content: attr(data-placeholder);
}

.element:active,
.element:focus + span::before {
  color: var(--primary-color);
}
