.container {
  margin: 0 auto;
  width: clamp(200px, 90%, 700px);
}

.module {
  background-color: #fafafa;
  border: 1px solid #d9d9d9;
  border-radius: 10px;
  padding: 30px 120px;
}

.title {
  font-size: 1.125em;
  font-weight: 700;
  margin-bottom: 30px;
}

.items {
  display: flex;
  flex-direction: column;
  row-gap: 30px;
}

.autoLogin {
  align-items: center;
  column-gap: 10px;
  color: #808080;
  display: flex;
  justify-content: flex-end;
}

.buttonArea {
  column-gap: 20px;
  display: flex;
  justify-content: flex-end;
  margin-top: 30px;
}
