.module {
  border: 1px solid #999;
  border-radius: 4px;
  display: inline-block;
  padding: 10px 16px;
}

.module[data-theme="default"] {
  background-color: #fafafa;
  border-color: #c7c7c7;
  color: #777;
}

.module[data-theme="primary"] {
  background-color: var(--primary-color);
  border-color: var(--primary-color);
  color: #fff;
}

.module:focus {
  border-color: var(--primary-color);
  outline: none;
}
